@charset "utf-8";
body {
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
}

* {
	-webkit-tap-highlight-color: transparent;
}

.page {
	position: absolute;
	left: 0;
	top: 0;
	background-size: cover;
	background-position: center;
	display: none;
	overflow: hidden;
	{{style_page_bg}}
	transform: translate(0%, 0%);
	-ms-transform: translate(0%, 0%);
	-moz-transform: translate(0%, 0%);
	-webkit-transform: translate(0%, 0%);
}

.page_transition {
	transition: transform 0.4s ease;
	-ms-transition: transform 0.4s ease;
	-moz-transition: transform 0.4s ease;
	-webkit-transition: transform 0.4s ease;
}

.page_outer,
.page_inner {
	position: absolute;
}

.preload {
	display: none;
}

.preload img {
	width: 1px;
	height: 1px;
	display: none;
}

.music_btn {
	position: fixed;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 30px;
	width: 30px;
	top: 15px;
	right: 15px;
}

.music_play {
	background-image: url(../img/music.png);
	animation: shunshi 2s 0s linear infinite;
	-ms-animation: shunshi 2s 0s linear infinite;
	-moz-animation: shunshi 2s 0s linear infinite;
	-webkit-animation: shunshi 2s 0s linear infinite;
}

.music_pause {
	background-image: url(../img/music_close.png);
}

.page_down {
	position: absolute;
	width: 8%;
	height: auto;
	left: 46%;
	bottom: 3%;
	opacity: 0;
}

.page_0 {
	display: block;
}

.loader_text {
	position: absolute;
	width: 100%;
	height: auto;
	text-align: center;
	color: #e60012;
	font-size: 5vw;
	left: 0;
	top: 45%;
}

.page_down {
	animation: fadeIn 0.5s 1.5s ease forwards, ufo 1.5s 0s ease infinite alternate;
	-ms-animation: fadeIn 0.5s 1.5s ease forwards, ufo 1.5s 0s ease infinite alternate;
	-moz-animation: fadeIn 0.5s 1.5s ease forwards, ufo 1.5s 0s ease infinite alternate;
	-webkit-animation: fadeIn 0.5s 1.5s ease forwards, ufo 1.5s 0s ease infinite alternate;
}

{{style_content_main}}