/*bounce:cubic-bezier(0.68, -0.55, 0.265, 1.55)*/

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-ms-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-moz-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@-ms-keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@-moz-keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@-webkit-keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes rotate_y_show {
	from {
		transform: rotateY(90deg);
	}
	to {
		transform: rotateY(0deg);
	}
}

@-ms-keyframes rotate_y_show {
	from {
		-ms-transform: rotateY(90deg);
	}
	to {
		-ms-transform: rotateY(0deg);
	}
}

@-moz-keyframes rotate_y_show {
	from {
		-moz-transform: rotateY(90deg);
	}
	to {
		-moz-transform: rotateY(0deg);
	}
}

@-webkit-keyframes rotate_y_show {
	from {
		-webkit-transform: rotateY(90deg);
	}
	to {
		-webkit-transform: rotateY(0deg);
	}
}

@keyframes shine {
	from {
		opacity: 1;
	}
	to {
		opacity: 0.4;
	}
}

@-ms-keyframes shine {
	from {
		opacity: 1;
	}
	to {
		opacity: 0.4;
	}
}

@-moz-keyframes shine {
	from {
		opacity: 1;
	}
	to {
		opacity: 0.4;
	}
}

@-webkit-keyframes shine {
	from {
		opacity: 1;
	}
	to {
		opacity: 0.4;
	}
}

@keyframes bottomin {
	from {
		opacity: 0;
		transform: translateY(100px);
	}
	to {
		opacity: 1;
		transform: translateY(0px);
	}
}

@-ms-keyframes bottomin {
	from {
		opacity: 0;
		-ms-transform: translateY(100px);
	}
	to {
		opacity: 1;
		-ms-transform: translateY(0px);
	}
}

@-moz-keyframes bottomin {
	from {
		opacity: 0;
		-moz-transform: translateY(100px);
	}
	to {
		opacity: 1;
		-moz-transform: translateY(0px);
	}
}

@-webkit-keyframes bottomin {
	from {
		opacity: 0;
		-webkit-transform: translateY(100px);
	}
	to {
		opacity: 1;
		-webkit-transform: translateY(0px);
	}
}

@keyframes leftin {
	from {
		transform: translateX(-100px);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}

@-ms-keyframes leftin {
	from {
		-ms-transform: translateX(-100px);
		opacity: 0;
	}
	to {
		-ms-transform: translateX(0);
		opacity: 1;
	}
}

@-moz-keyframes leftin {
	from {
		-moz-transform: translateX(-100px);
		opacity: 0;
	}
	to {
		-moz-transform: translateX(0);
		opacity: 1;
	}
}

@-webkit-keyframes leftin {
	from {
		-webkit-transform: translateX(-100px);
		opacity: 0;
	}
	to {
		-webkit-transform: translateX(0);
		opacity: 1;
	}
}

@keyframes topin {
	from {
		transform: translateY(-100px);
		opacity: 0;
	}
	to {
		transform: translateY(0px);
		opacity: 1;
	}
}

@-ms-keyframes topin {
	from {
		-ms-transform: translateY(-100px);
		opacity: 0;
	}
	to {
		-ms-transform: translateY(0px);
		opacity: 1;
	}
}

@-moz-keyframes topin {
	from {
		-moz-transform: translateY(-100px);
		opacity: 0;
	}
	to {
		-moz-transform: translateY(0px);
		opacity: 1;
	}
}

@-webkit-keyframes topin {
	from {
		-webkit-transform: translateY(-100px);
		opacity: 0;
	}
	to {
		-webkit-transform: translateY(0px);
		opacity: 1;
	}
}

@keyframes rightin {
	from {
		transform: translateX(100px);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}

@-ms-keyframes rightin {
	from {
		-ms-transform: translateX(100px);
		opacity: 0;
	}
	to {
		-ms-transform: translateX(0);
		opacity: 1;
	}
}

@-moz-keyframes rightin {
	from {
		-moz-transform: translateX(100px);
		opacity: 0;
	}
	to {
		-moz-transform: translateX(0);
		opacity: 1;
	}
}

@-webkit-keyframes rightin {
	from {
		-webkit-transform: translateX(100px);
		opacity: 0;
	}
	to {
		-webkit-transform: translateX(0);
		opacity: 1;
	}
}

@keyframes sbin {
	from {
		transform: scale(0.1);
		opacity: 0;
	}
	to {
		transform: scale(1);
		opacity: 1;
	}
}

@-ms-keyframes sbin {
	from {
		-ms-transform: scale(0.1);
		opacity: 0;
	}
	to {
		-ms-transform: scale(1);
		opacity: 1;
	}
}

@-moz-keyframes sbin {
	from {
		-moz-transform: scale(0.1);
		opacity: 0;
	}
	to {
		-moz-transform: scale(1);
		opacity: 1;
	}
}

@-webkit-keyframes sbin {
	from {
		-webkit-transform: scale(0.1);
		opacity: 0;
	}
	to {
		-webkit-transform: scale(1);
		opacity: 1;
	}
}

@keyframes ssin {
	from {
		transform: scale(3);
		opacity: 0;
	}
	to {
		transform: scale(1);
		opacity: 1;
	}
}

@-ms-keyframes ssin {
	from {
		-ms-transform: scale(3);
		opacity: 0;
	}
	to {
		-ms-transform: scale(1);
		opacity: 1;
	}
}

@-moz-keyframes ssin {
	from {
		-moz-transform: scale(3);
		opacity: 0;
	}
	to {
		-moz-transform: scale(1);
		opacity: 1;
	}
}

@-webkit-keyframes ssin {
	from {
		-webkit-transform: scale(3);
		opacity: 0;
	}
	to {
		-webkit-transform: scale(1);
		opacity: 1;
	}
}

@keyframes shunshiin {
	from {
		transform: rotate(-90deg);
		opacity: 0;
	}
	to {
		transform: rotate(0deg);
		opacity: 1;
	}
}

@-ms-keyframes shunshiin {
	from {
		-ms-transform: rotate(-90deg);
		opacity: 0;
	}
	to {
		-ms-transform: rotate(0deg);
		opacity: 1;
	}
}

@-moz-keyframes shunshiin {
	from {
		-moz-transform: rotate(-90deg);
		opacity: 0;
	}
	to {
		-moz-transform: rotate(0deg);
		opacity: 1;
	}
}

@-webkit-keyframes shunshiin {
	from {
		-webkit-transform: rotate(-90deg);
		opacity: 0;
	}
	to {
		-webkit-transform: rotate(0deg);
		opacity: 1;
	}
}

@keyframes nishiin {
	from {
		transform: rotate(90deg);
		opacity: 0;
	}
	to {
		transform: rotate(0deg);
		opacity: 1;
	}
}

@-ms-keyframes nishiin {
	from {
		-ms-transform: rotate(90deg);
		opacity: 0;
	}
	to {
		-ms-transform: rotate(0deg);
		opacity: 1;
	}
}

@-moz-keyframes nishiin {
	from {
		-moz-transform: rotate(90deg);
		opacity: 0;
	}
	to {
		-moz-transform: rotate(0deg);
		opacity: 1;
	}
}

@-webkit-keyframes nishiin {
	from {
		-webkit-transform: rotate(90deg);
		opacity: 0;
	}
	to {
		-webkit-transform: rotate(0deg);
		opacity: 1;
	}
}

@keyframes boom_shakalaka {
	10% {
		transform: translateX(3px) rotate(2deg);
	}
	20% {
		transform: translateX(-3px) rotate(-2deg);
	}
	30% {
		transform: translateX(3px) rotate(2deg);
	}
	40% {
		transform: translateX(-3px) rotate(-2deg);
	}
	50% {
		transform: translateX(2px) rotate(1deg);
	}
	60% {
		transform: translateX(-2px) rotate(-1deg);
	}
	70% {
		transform: translateX(2px) rotate(1deg);
	}
	80% {
		transform: translateX(-2px) rotate(-1deg);
	}
	90% {
		transform: translateX(1px) rotate(0);
	}
	100% {
		transform: translateX(-1px) rotate(0);
	}
}

@-ms-keyframes boom_shakalaka {
	10% {
		-ms-transform: translateX(3px) rotate(2deg);
	}
	20% {
		-ms-transform: translateX(-3px) rotate(-2deg);
	}
	30% {
		-ms-transform: translateX(3px) rotate(2deg);
	}
	40% {
		-ms-transform: translateX(-3px) rotate(-2deg);
	}
	50% {
		-ms-transform: translateX(2px) rotate(1deg);
	}
	60% {
		-ms-transform: translateX(-2px) rotate(-1deg);
	}
	70% {
		-ms-transform: translateX(2px) rotate(1deg);
	}
	80% {
		-ms-transform: translateX(-2px) rotate(-1deg);
	}
	90% {
		-ms-transform: translateX(1px) rotate(0);
	}
	100% {
		-ms-transform: translateX(-1px) rotate(0);
	}
}

@-moz-keyframes boom_shakalaka {
	10% {
		-moz-transform: translateX(3px) rotate(2deg);
	}
	20% {
		-moz-transform: translateX(-3px) rotate(-2deg);
	}
	30% {
		-moz-transform: translateX(3px) rotate(2deg);
	}
	40% {
		-moz-transform: translateX(-3px) rotate(-2deg);
	}
	50% {
		-moz-transform: translateX(2px) rotate(1deg);
	}
	60% {
		-moz-transform: translateX(-2px) rotate(-1deg);
	}
	70% {
		-moz-transform: translateX(2px) rotate(1deg);
	}
	80% {
		-moz-transform: translateX(-2px) rotate(-1deg);
	}
	90% {
		-moz-transform: translateX(1px) rotate(0);
	}
	100% {
		-moz-transform: translateX(-1px) rotate(0);
	}
}

@-webkit-keyframes boom_shakalaka {
	10% {
		-webkit-transform: translateX(3px) rotate(2deg);
	}
	20% {
		-webkit-transform: translateX(-3px) rotate(-2deg);
	}
	30% {
		-webkit-transform: translateX(3px) rotate(2deg);
	}
	40% {
		-webkit-transform: translateX(-3px) rotate(-2deg);
	}
	50% {
		-webkit-transform: translateX(2px) rotate(1deg);
	}
	60% {
		-webkit-transform: translateX(-2px) rotate(-1deg);
	}
	70% {
		-webkit-transform: translateX(2px) rotate(1deg);
	}
	80% {
		-webkit-transform: translateX(-2px) rotate(-1deg);
	}
	90% {
		-webkit-transform: translateX(1px) rotate(0);
	}
	100% {
		-webkit-transform: translateX(-1px) rotate(0);
	}
}

@keyframes shunshi {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@-ms-keyframes shunshi {
	from {
		-ms-transform: rotate(0deg);
	}
	to {
		-ms-transform: rotate(360deg);
	}
}

@-moz-keyframes shunshi {
	from {
		-moz-transform: rotate(0deg);
	}
	to {
		-moz-transform: rotate(360deg);
	}
}

@-webkit-keyframes shunshi {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes nishi {
	from {
		transform: rotate(360deg);
	}
	to {
		transform: rotate(0deg);
	}
}

@-ms-keyframes nishi {
	from {
		-ms-transform: rotate(360deg);
	}
	to {
		-ms-transform: rotate(0deg);
	}
}

@-moz-keyframes nishi {
	from {
		-moz-transform: rotate(360deg);
	}
	to {
		-moz-transform: rotate(0deg);
	}
}

@-webkit-keyframes nishi {
	from {
		-webkit-transform: rotate(360deg);
	}
	to {
		-webkit-transform: rotate(0deg);
	}
}

@keyframes ufo {
	from {
		transform: translateY(0%);
	}
	to {
		transform: translateY(-30%);
	}
}

@-ms-keyframes ufo {
	from {
		-ms-transform: translateY(0%);
	}
	to {
		-ms-transform: translateY(-30%);
	}
}

@-moz-keyframes ufo {
	from {
		-moz-transform: translateY(0%);
	}
	to {
		-moz-transform: translateY(-30%);
	}
}

@-webkit-keyframes ufo {
	from {
		-webkit-transform: translateY(0%);
	}
	to {
		-webkit-transform: translateY(-30%);
	}
}

@keyframes swing {
	from {
		transform: rotate(-5deg);
	}
	to {
		transform: rotate(5deg);
	}
}

@-ms-keyframes swing {
	from {
		-ms-transform: rotate(-5deg);
	}
	to {
		-ms-transform: rotate(5deg);
	}
}

@-moz-keyframes swing {
	from {
		-moz-transform: rotate(-5deg);
	}
	to {
		-moz-transform: rotate(5deg);
	}
}

@-webkit-keyframes swing {
	from {
		-webkit-transform: rotate(-5deg);
	}
	to {
		-webkit-transform: rotate(5deg);
	}
}